<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
      <%= f.text_area :content, placeholder: "今から何をする予定ですか？" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>